<div class=" position-absolute top-50 start-50 translate-middle">


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Passord Generator</h5>
      <form (ngSubmit)="generatePassword()">
        <div class="mb-3">
          <label for="length" class="form-label">Length</label>
          <input type="number" class="form-control" [(ngModel)]="length" name="length" id="length"
            aria-describedby="length">

        </div>
        <div class="mb-3 ">
          <input type="checkbox" class="form-check-input" [(ngModel)]="useLetters" name="useLetters" id="useLetters">
          <label class="form-check-label" for="">Use Letters</label>
        </div>
        <div class="mb-3 ">
          <input type="checkbox" class="form-check-input" [(ngModel)]="useNumbers" name="useNumbers" id="useNumbers">
          <label class="form-check-label ml-1" for="">Use Numbers</label>
        </div>
        <div class="mb-3 ">
          <input type="checkbox" class="form-check-input" [(ngModel)]="useSymbols" name="useSymbols" id="useSymbols">
          <label class="form-check-label" for="">Use Symbols</label>
        </div>
        <div class="mb-3 text-center">
          <button class="btn btn-primary  ">Generate</button>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <!-- <input type="text" class="form-control" [value]="password" name="password" aria-describedby="password"> -->
          <h5>{{password}}</h5>

        </div>
      </form>
    </div>
  </div>
</div>
